@keyframes default {
  0% {
    transform: scale(0.98);
    opacity: 0.25;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.defaultAnimation {
  animation: 0.2s default;
}

$color-1: #f72585;
$color-2: #b5179e;
$color-3: #7209b7;
$color-4: #560bad;
$color-5: #480ca8;
$color-6: #3a0ca3;
$color-7: #3f37c9;
$color-8: #4361ee;
$color-9: #4895ef;
$color-10: #4cc9f0;

$color-font: #696969;
$color-font-button: darken($color-7, 20%);
$color-background: #f3f3f3;
$color-line: #dcdcdc;
